/* ============================================= */
/*                Variables                      */
/* ============================================= */

$primary-color: #58e1c1;
$secondary-color: #777;
$accent-color: #51ddfc;
$white: #fff;
$error-color: #e4757a;
$info-color: #927bc1;
$success-color: #63cc82;
$warning-color: #fd7856;
$frame-color: #ccc;
$breakpoint: 768px;
$base-margin-padding: 10px;
  